.StudentsContainer {
  margin: 0 auto;
  width: 100%; }
  .StudentsContainer main {
    margin: 10 auto;
    display: flex;
    flex-direction: column; }
    @media (min-width: 1025px) {
      .StudentsContainer main {
        max-width: 1260px;
        flex-flow: row wrap; } }
    @media (min-width: 769px) {
      .StudentsContainer main {
        flex-flow: row wrap; } }
  .StudentsContainer > header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex: 2 100%; }
    @media (min-width: 1025px) {
      .StudentsContainer > header {
        max-width: 1260px; } }
