article.BatchItem {
  border-radius: .1em;
  overflow: hidden;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.117647), 0 1px 4px rgba(0, 0, 0, 0.117647);
  display: flex;
  flex-direction: column;
  margin: 1em .8em;
  background-color: #fff;
  padding: 1em;
  width: 200px; }
  @media (min-width: 769px) {
    article.BatchItem {
      margin: .8em;
      flex-shrink: 1; } }
  article.BatchItem header .cover {
    height: 100px;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    margin-bottom: 54px; }
